<div class="container">
    <div class="column">
        <div class="widget mat-elevation-z3 col-lg-3">
            <div class="row">
                <div class="col-4">
                    <fa-icon [icon]="['fas', 'coffee']" size="3x"></fa-icon>
                </div>
                <div class="col-8 text-right">
                    <span> Today degrees </span>
                    <h2 class="font-bold">26'C</h2>
                </div>
            </div>
        </div>
        <div class="widget mat-elevation-z3 col-lg-3">
            <div class="row">
                <div class="col-4">
                    <fa-icon [icon]="['fas', 'cloud']" size="3x"></fa-icon>
                </div>
                <div class="col-8 text-right">
                    <span> Today degrees </span>
                    <h2 class="font-bold">26'C</h2>
                </div>
            </div>
        </div>
        <div class="widget mat-elevation-z3 col-lg-3">
            <div class="row">
                <div class="col-4">
                    <fa-icon [icon]="['fas', 'home']" size="3x"></fa-icon>
                </div>
                <div class="col-8 text-right">
                    <span> Today degrees </span>
                    <h2 class="font-bold">26'C</h2>
                </div>
            </div>
        </div>
        <div class="widget mat-elevation-z3 col-lg-3">
            <div class="row">
                <div class="col-4">
                    <fa-icon [icon]="['fas', 'thumbs-up']" size="3x"></fa-icon>
                </div>
                <div class="col-8 text-right">
                    <span> Today degrees </span>
                    <h2 class="font-bold">26'C</h2>
                </div>
            </div>
        </div>
    </div>
</div>
