app-homepage {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
}

app-alpha-navbar {
  // position: fixed; //this is commented because we need control over navbar
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

app-homepage > app-component-sidenav {
  flex: 1;
}

app-homepage > app-app-homepage,
app-homepage > app-guides,
app-homepage > guide-viewer {
  overflow-y: auto;
}

@media (max-width: 720px) {
  app-homepage {
    top: 92px;
  }

  app-homepage > app-app-homepage,
  app-homepage > app-guides,
  app-homepage > guide-viewer {
    overflow-y: visible;
  }
}
